In [1]:
import tskit
import tszip
import numpy as np
import pandas as pd
import sc2ts

In [2]:
ds = sc2ts.Dataset("../data/viridian_mafft_2024-10-14_v1.vcz.zip")

In [4]:
ts = tszip.load("all_viridian.202409.trees.tsz")
ts

In [5]:
%%time
df_nodes = sc2ts.node_data(ts)

CPU times: user 6.98 s, sys: 547 ms, total: 7.52 s
Wall time: 7.52 s

In [6]:
%%time
df_muts = sc2ts.mutation_data(ts)

CPU times: user 1.1 s, sys: 167 ms, total: 1.27 s
Wall time: 1.27 s

In [7]:
df_muts

,mutation_id,position,parent,node,inherited_state,derived_state,num_descendants,num_inheritors,date
0,0,267,-1,1009669,T,A,1,1,2021-07-30
1,1,267,-1,4408344,T,G,1,1,2022-10-25
2,2,269,-1,4681395,G,A,2,2,2020-04-05
3,3,269,-1,2092107,G,A,1,1,2020-04-18
4,4,269,-1,133742,G,T,1,1,2020-05-08
...,...,...,...,...,...,...,...,...,...
3330802,3330802,29671,-1,4904110,A,G,2,2,2023-02-11
3330803,3330803,29671,-1,4900620,A,T,2,2,2023-10-12
3330804,3330804,29671,-1,3979258,A,T,1,1,2023-10-24
3330805,3330805,29671,-1,3988238,A,T,1,1,2023-11-08
3330806,3330806,29671,-1,4884543,A,T,3,3,2023-12-10

In [8]:
df_nodes

,pango,sample_id,node_id,is_sample,is_recombinant,num_mutations,max_descendant_samples,date
0,B,ERR4085584,0,True,False,0,1,2020-04-09
1,B,ERR4086315,1,True,False,0,1,2020-04-03
2,B,ERR4091746,2,True,False,0,1,2020-04-03
3,B,ERR4165155,3,True,False,0,1,2020-02-26
4,B,ERR4204267,4,True,False,0,1,2020-03-04
...,...,...,...,...,...,...,...,...
5312038,,node_1696,5312038,False,False,1,4436338,2019-11-26
5312039,,node_1695,5312039,False,False,1,4436358,2019-11-25
5312040,,node_1694,5312040,False,False,0,4436366,2019-11-24
5312041,,node_1693,5312041,False,False,1,4436400,2019-11-23
5312042,,node_1,5312042,False,False,0,4446273,2019-11-22

In [9]:
df_samples = df_nodes[df_nodes.is_sample].set_index("sample_id")

In [10]:
ds.metadata.field_descriptors()

,field,dtype,description
0,Artic_primer_version,object,"If known, the ARTIC primer scheme from ENA met..."
1,Collection_date,object,collection_date from ENA metadata
2,Country,object,Country from ENA metadata. If ':' was in the e...
3,Date_tree,object,"A consensus date, using up 3 sources of data f..."
4,Date_tree_order,object,This helped define the order in which the samp...
5,Experiment,object,experiment_accession from ENA metadata
6,First_created,object,first_created from the ENA metadata
7,Genbank_N,int16,Number of Ns in the GenBank consensus sequence...
8,Genbank_accession,object,This is the GenBank accession of the assembly
9,Genbank_other_runs,object,Any other run accessions associated with the G...
10,Genbank_pangolin,object,Pangolin call from the GenBank consensus seque...
11,Genbank_scorpio,object,Scorpio call from the GenBank consensus sequen...
12,Genbank_tree_name,object,Name of the sample in the GenBank tree
13,In_Viridian_tree,bool,'T' or 'F' to indicate if the sample is in the...
14,In_intersection,bool,'T' or 'F' to indicate if the sample is in the...
15,In_may_2024_preprint,bool,Whether or not this run was in the May 2024 pr...
16,Platform,object,instrument_platform from ENA metadata
17,Region,object,"Region from ENA metadata, if present. If ':' w..."
18,Run_count,int8,The number of runs from the sample accession
19,Sample,object,sample_accession from ENA metadata
20,Study,object,study_accession from ENA metadata
21,Viridian_N,int16,Number of Ns in the viridian consensus sequenc...
22,Viridian_amplicon_scheme,object,Amplicon scheme called by Viridian
23,Viridian_cons_het,int8,
24,Viridian_cons_len,int16,Length of the Viridian consensus sequence Viri...
25,Viridian_pangolin,object,Pangolin call from the Viridian consensus sequ...
26,Viridian_pangolin_1.29,object,Pangolin call from the Viridian consensus sequ...
27,Viridian_result,object,This is 'PASS' if Viridian finished and made a...
28,Viridian_scorpio,object,Scorpio call from the Viridian consensus seque...
29,Viridian_scorpio_1.29,object,Scorpio call from the Viridian consensus seque...

In [11]:
# Add fields in to verify Date and Pango validity.
df_samples = df_samples.join(ds.metadata.as_dataframe(["Date_tree", "Viridian_pangolin_1.29"]))
df_samples

,pango,node_id,is_sample,is_recombinant,num_mutations,max_descendant_samples,date,Date_tree,Viridian_pangolin_1.29
sample_id,,,,,,,,,
ERR4085584,B,0,True,False,0,1,2020-04-09,2020-04-09,B
ERR4086315,B,1,True,False,0,1,2020-04-03,2020-04-03,B
ERR4091746,B,2,True,False,0,1,2020-04-03,2020-04-03,B
ERR4165155,B,3,True,False,0,1,2020-02-26,2020-02-26,B
ERR4204267,B,4,True,False,0,1,2020-03-04,2020-03-04,B
...,...,...,...,...,...,...,...,...,...
SRR20933483,BA.5.2.1,4446268,True,False,1,1,2022-07-11,2022-07-11,BA.5.2.1
SRR21370322,BA.5.2.1,4446269,True,False,1,1,2022-08-14,2022-08-14,BA.5.2.1
SRR21886505,BA.5.2.1,4446270,True,False,5,1,2022-09-21,2022-09-21,BA.5.2.1
SRR21635465,BA.5.2.1,4446271,True,False,0,1,2022-09-06,2022-09-06,BA.5.2.1
SRR21795271,BA.5.2.1,4446272,True,False,0,1,2022-09-12,2022-09-12,BA.5.2.1

# Check metadata round trip

Check that we've successfully roundtripped the metadata from the MAT through tskit and via minimisation. We have used the Viridian_pangolin_1.29 field, which should be identical for all samples. The sample dates should be identica to the Date_tree field
also

In [12]:
np.all(df_samples["pango"] == df_samples["Viridian_pangolin_1.29"])

np.True_

In [13]:
np.all(df_samples["date"] == df_samples["Date_tree"])

np.True_